<script type="text/template" id="item-template">
  <div class="todo <%%= status === 'complete' ? 'done' : '' %>">
    <div class="display" title="Double click to edit...">
      <input class="check" type="checkbox" <%%= status === 'complete' ? "checked='checked'" : '' %> />
      <div class="todo-text"><%%= text %></div>
      <span class="todo-destroy"></span>
    </div>
    <div class="edit">
      <input class="todo-input" type="text" value="<%%= text %>" />
    </div>
  </div>
</script>