<script type="text/template" id='stats-template'>
<%% if (total > 0) { %>
    <span class="todo-count">
      <span class="number"><%%= incomplete %></span>
      <span class="word"><%%= incomplete === 1 ? 'item' : 'items' %></span> left.
    </span>
  <%% if (completed > 0) { %>
    <span class="todo-clear">
      <a href="#">
        Clear <span class="number-done"><%%= completed %></span>
        completed <span class="word-done"><%%= completed === 1 ? 'item' : 'items' %></span>
      </a>
    </span>
  <%% } %>
<%% }  %>
</script>
